{% extends "base.html" %}
{% block content %}
{% load static %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">

<style>
    main {
        font-family: 'Yeon Sung', cursive;
        }
</style>

<main style= "background-color:#FFF6DB;">
<div style="display:inline-block; vertical-align: top;">
    <img src="/static/images/느린마을.jpg" alt="img" style="padding: 70px 0px 50px 150px; float: left; width:600px; height:600px;"/>
     <p style="font-size:27px; padding: 100px 100px 0px 220px;">느린마을 막걸리 6도 750 ml</p>
     <p style="padding: 40px 0px 0px 240px; font-size:30px; color:blue; font-weight: bold; ">#우유 #단맛 #순하다</p>
        <p style="padding: 0px 0px 0px 130px; font-size:21px;">달달해서 맛있어요. 우유처럼 부드러운 느낌도 있어서 마시기 편해요</p>
</div>
    <div style="display:inline-block;">

        <p style="font-size:26px; padding: 50px 0px 0px 150px; font-weight: bold;">국내 대표 술도가의 야심작, 느린마을</p>
        <p style="font-size:21px; padding: 10px 0px 0px 150px; line-height: 31px">
            느린마을은 25년 이상 유명 우리술 브랜드를 구축해 온 배상면주가의 노하우를 집대성한<br>
            막걸리입니다.바닐라와 바나나 혹은 멜론 향이 지배적이고, 안에서는 우유처럼 부드러운 질감과<br>
            풍미를 드러내지요.감미료와 첨가물 사용 없이 만들었다는 사실이 믿기 어려울 정도로<br>
            풍부한 향과 부담 없는 단 맛이 특징입니다.<br>
            효모가 살아 있는 생막걸리라 보관기간에 따라 맛이 조금씩 달라지기도 하는데요.<br>
            제품 라벨 뒷면의 맛 변화 그래프를 참고해서 기호에 맞게 즐길 수 있습니다.</p>

        <p style="font-size:26px; padding: 40px 0px 0px 150px; font-weight: bold;">느린마을 막걸리, 어떻게 만드나요?<br>
             <p style="font-size:21px; padding: 10px 0px 0px 150px; line-height: 31px">
            천천히 확실하게, 느림의 미학, 느린마을 막걸리는 오로지 쌀, 물, 누룩 세 가지 기본 원료만<br>
            사용해 술을 빚습니다. 오랜 연구를 통해 얻은 데이터를 토대로, 아스파탐 등 감미료를 쓰지<br>
            않고도 쌀의 진한 풍미와 단 맛을 술에 고스란히 드러내지요.<br>
            느린마을의 생산 철학은 쌀과 누룩 등 원재료가 가진 고유한 풍미를 잘 살리는 데 있습니다.<br>
            효모 등 미생물이 천천히 술을 익게 만드는 과정을 따라가며, 느리더라도 확실하고<br>
            개성 있는 제품을 완성하는 데 목적을 둡니다.</p>

        <p style="font-size:26px; padding: 40px 0px 0px 150px; font-weight: bold;">느린마을 막걸리, 음식과의 궁합은?<br>
            <p style="font-size:21px; padding: 10px 0px 0px 150px; line-height: 31px">
            산나물 / 김치전 / 두부김치<br>
            느린마을은 쌀의 단 맛이 지배적인 막걸리입니다.<br>
            산나물이나 두릅 등 쌉쌀한 나물이나 채소, 혹은 김치전 등 매콤한 맛을 가진 우리 음식에<br>
            곁들여 먹기 좋습니다. 달고 부드러운 쌀의 풍미가 쌉쌀한 산나물의 기운과 매운 음식 맛을<br>
            보완해 줍니다.<br>
            볶은 김치를 활용한 두부김치 등 일반적인 막걸리 안주를 두고 마셔도 잘 어울립니다.<br></p>
</div>
</main>

    <p style="padding: 50px 100px 0px 310px; font-size:30px; font-family: 'Yeon Sung', cursive;">[양조장 위치]</p>
    <div >
         <img src="/static/images/양조장.png" alt="img" style="padding: 0px 0px 0px 150px; float: left; width:600px; height:600px;"/>
        <img src="/static/images/탄산_당도.png" alt="img" style="padding: 0px 0px 0px 100px; text-align:right; width:750px; height:600px;"/>
    </div>
    <p style=" font-size:30px; padding: 30px 0px 0px 140px; font-family: 'Yeon Sung', cursive;">서울특별시 강남구 서초대로 27길 7-9 우곡빌딩 6층
    <p style=" font-size:30px; padding: 10px 0px 0px 290px; font-family: 'Yeon Sung', cursive;"> (주) 배상면주가</p>


<!-- Footer Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('images/demo/backgrounds/03.png');">
  <div class="wrapper row4">
    <footer id="footer" class="hoc clear" style="text-align:center;">
      <p> (주)기승전술 대표 : 팝핀종수</p><tr>
      <p> 기태시 세화동 명훈빌딩 / 전화번호 : 02-222-3333</p></tr>
    </footer>
  </div>
<!-- ################################################################################################ -->
    <div class="wrapper row5">
      <div id="copyright" class="hoc clear">
          <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
          <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
      </div>
    </div>
</div>
<!-- End Footer Background Image Wrapper -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="../layout/scripts/jquery.min.js"></script>
<script src="../layout/scripts/jquery.backtotop.js"></script>
<script src="../layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>
  {% endblock %}